<div class="flex flex-col h-full">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <ng-container *ngTemplateOutlet="body"></ng-container>
  <ng-container *ngTemplateOutlet="footer"></ng-container>
</div>

<ng-template #header>
  <header class="bg-purple-900 py-6">
    <div class="container mx-auto px-4 text-center">
      <img
        alt="Nx logo"
        width="75"
        class="mx-auto"
        src="https://nx.dev/assets/images/nx-logo-white.svg"
      />
      <h1 class="text-white font-bold text-2xl">Welcome to {{ title }}!</h1>
    </div>
  </header>
</ng-template>

<ng-template #body>
  <div class="app-body">
    <div class="container mx-auto px-4">
      <h1 class="mb-2 font-semibold text-lg">Lazy Loaded Modules</h1>
      <div class="flex items-center justify-between">
        <div class="flex flex-grow">
          <div class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-4">
            <button
              class="col-span-2 bg-transparent font-semibold py-2 px-4 border border-white hover:border-transparent rounded"
              [routerLink]="'./'"
              [routerLinkActive]="'bg-blue-500'"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              HOME
            </button>
            <button
              *ngFor="let continent of continents"
              class="col-span-2 bg-transparent font-semibold py-2 px-4 border border-white hover:border-transparent rounded"
              [routerLink]="continent"
              [routerLinkActive]="'bg-blue-500'"
            >
              {{ continent | uppercase }}
            </button>
          </div>
        </div>
        <ng-container *ngTemplateOutlet="changeLanguage"></ng-container>
      </div>
    </div>

    <div class="container mx-auto py-2 px-4">
      <h3 class="section-subtitle">Lazy Loaded Flags at App Module</h3>

      <div class="nation-grid">
        <div class="nation-item">
          <!-- <p class="nation-name">Colombia</p> -->
          <p class="nation-code">co</p>
          <nation-flag-angular [nation]="'co'" fontSize="100px"></nation-flag-angular>
        </div>
        <div class="nation-item">
          <!-- <p class="nation-name">Tanzania</p> -->
          <p class="nation-code">tz</p>
          <nation-flag-angular [nation]="'tz'" fontSize="100px"></nation-flag-angular>
        </div>
        <div class="nation-item">
          <!-- <p class="nation-name">Ukraine</p> -->
          <p class="nation-code">ua</p>
          <nation-flag-angular [nation]="'ua'" fontSize="100px"></nation-flag-angular>
        </div>
        <div class="nation-item">
          <!-- <p class="nation-name">Tajikistan</p> -->
          <p class="nation-code">tj</p>
          <nation-flag-angular [nation]="'tj'" fontSize="100px"></nation-flag-angular>
        </div>
        <div class="nation-item">
          <!-- <p class="nation-name">Tonga</p> -->
          <p class="nation-code">to</p>
          <nation-flag-angular [nation]="'to'" fontSize="100px"></nation-flag-angular>
        </div>
      </div>
    </div>

    <div class="container mx-auto py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #footer>
  <div class="app-footer">Made with &hearts; by KingDarBoja</div>
</ng-template>

<ng-template #changeLanguage>
  <div class="relative inline-block text-left">
    <div>
      <button
        type="button"
        class="dropdown-menu"
        id="options-menu"
        aria-expanded="true"
        aria-haspopup="true"
        (click)="menuVisible = !menuVisible"
      >
        {{ currentLocale$ | async | uppercase }}
        <!-- Heroicon name: solid/chevron-down -->
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      class="dropdown-option-group"
      [ngClass]="{ hidden: !menuVisible }"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <div class="py-1" role="none">
        <a
          *ngFor="let locale of locales"
          class="dropdown-option"
          role="menuitem"
          (click)="changeLocale(locale)"
          >{{ locale | uppercase }}</a
        >
      </div>
    </div>
  </div>
</ng-template>
