<header class="bg-blue-900 py-4">
  <div class="container mx-auto text-center">
    <img
      alt="Nx logo"
      width="75"
      class="mx-auto"
      src="https://nx.dev/assets/images/nx-logo-white.svg"
    />
    <h1 class="text-white font-bold text-2xl">Welcome to {{ title }}!</h1>
  </div>
</header>

<div class="bg-blue-800 py-4">
  <div class="container mx-auto">
    <h1 class="mb-2 font-semibold text-white text-lg">Lazy Loaded Modules</h1>
    <ul class="flex items-center">
      <li class="flex mr-6 border border-white rounded-full">
        <a class="text-white p-4" routerLink="america">America</a>
      </li>
      <li class="flex mr-6 border border-white rounded-full">
        <a class="text-white p-4" routerLink="africa">Africa</a>
      </li>
    </ul>
  </div>
</div>

<div class="bg-blue-700 py-4 text-white">
  <div class="container mx-auto">
    <h3 class="section-subtitle">Lazy Loaded Flags at App Module</h3>

    <div class="country-grid">
      <div class="country-item">
        <p class="country-name">Colombia</p>
        <p class="country-code">co</p>
        <ngx-nations-flag-icon [icon]="'co'" fontSize="50px"></ngx-nations-flag-icon>
      </div>
      <div class="country-item">
        <p class="country-name">Tanzania</p>
        <p class="country-code">tz</p>
        <ngx-nations-flag-icon [icon]="'tz'" fontSize="50px"></ngx-nations-flag-icon>
      </div>
      <div class="country-item">
        <p class="country-name">Spain</p>
        <p class="country-code">es</p>
        <ngx-nations-flag-icon [icon]="'es'" fontSize="50px"></ngx-nations-flag-icon>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-200 py-4">
  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
</div>
