<div class="flex flex-col h-full">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <ng-container *ngTemplateOutlet="body"></ng-container>
  <ng-container *ngTemplateOutlet="footer"></ng-container>
</div>

<ng-template #header>
  <header class="bg-purple-900 py-6">
    <section class="container mx-auto px-4 text-white space-y-4">
      <section class="">
        <h1 class="font-bold text-2xl text-center">Welcome to {{ title }}!</h1>
        <p class="py-1">
          Get the world nations i18n names and flag icons in your Angular apps.
        </p>
      </section>

      <section class="flex flex-col space-y-4">
        <h3 class="font-bold text-lg">Getting Started</h3>
        <p>
          To start using both the i18n directives and flag icon components,
          first install this package via <i>npm</i> or <i>yarn</i>:
        </p>
        <pre class="h-36">
          <code [highlight]="installCode"></code>
        </pre>

        <p>
          Then import the `NgxNationsCoreModule` along with the locales to be
          supported for nations i18n plus register the flags at the
          `NationFlagAngularModule.forRoot()` as follows:
        </p>

        <pre><code [highlight]="importCode"></code></pre>

        <p>
          <b>IMPORTANT NOTICE</b> This readme is still a work-in-progress, so
          not every feature is well documented.
        </p>
      </section>
    </section>
  </header>
</ng-template>

<ng-template #body>
  <section class="app-body">
    <section class="container mx-auto py-2">
      <section class="">
        <p>
          Each flag has been optimised and exported as module to allow
          tree-shaking as the user can define which flags can be loaded via
          ngModules.
        </p>

        <p>
          The following flags have been declared in each lazy-loaded module via
          <i>forChild()</i> method as follow:
        </p>

        <pre>
          <code [highlight]="lazyCode"></code>
        </pre>

        <p>
          Where <b>"XX"</b> represents the nation
          <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2"
            >ISO 3166-1 Alpha-2 Code</a
          >
          and have 3 built-in styles besides the default: 'wavy', 'bordered' and
          'combined'. These styles can be set along with the font size and the
          nation code to display as follows:
        </p>

        <pre>
          <code [highlight]="configCode"></code>
        </pre>
      </section>

      <section class="container mx-auto px-4">
        <div class="flex items-center justify-between">
          <div class="flex flex-grow">
            <div class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-4">
              <button
                class="col-span-2 bg-transparent font-semibold py-2 px-4 border border-white hover:border-transparent rounded"
                [routerLink]="'./'"
                [routerLinkActive]="'bg-blue-500'"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                HOME
              </button>
              <button
                *ngFor="let continent of continents"
                class="col-span-2 bg-transparent font-semibold py-2 px-4 border border-white hover:border-transparent rounded"
                [routerLink]="continent"
                [routerLinkActive]="'bg-blue-500'"
              >
                {{ continent | uppercase }}
              </button>
            </div>
          </div>
          <ng-container *ngTemplateOutlet="changeLanguage"></ng-container>
        </div>
      </section>

      <section class="mt-4">
        <router-outlet></router-outlet>
      </section>
    </section>
  </section>
</ng-template>

<ng-template #footer>
  <div class="app-footer">Made with &hearts; by KingDarBoja</div>
</ng-template>

<ng-template #changeLanguage>
  <div class="relative inline-block text-left">
    <div>
      <button
        type="button"
        class="dropdown-menu"
        id="options-menu"
        aria-expanded="true"
        aria-haspopup="true"
        (click)="menuVisible = !menuVisible"
      >
        {{ currentLocale$ | async | uppercase }}
        <!-- Heroicon name: solid/chevron-down -->
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      class="dropdown-option-group"
      [ngClass]="{ hidden: !menuVisible }"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <div class="py-1" role="none">
        <a
          *ngFor="let locale of locales"
          class="dropdown-option"
          role="menuitem"
          (click)="changeLocale(locale)"
          >{{ locale | uppercase }}</a
        >
      </div>
    </div>
  </div>
</ng-template>
